div#app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.my-navbar {
    background-color: #2d3a46;
    padding: 0.5rem;
    flex-shrink: 0;
    display: flex;
}

.my-navbar img {
    background-color: transparent;
    width: 4rem;
}

.search-bar {
    align-self: center;
    flex-grow: 1;
    padding: 0 2rem;
}

.search-bar input[type="text"] {
    width: 100%;
    border-radius: 10px;
    border-color: transparent;

}

.main-content {
    overflow: auto;
    flex-grow: 1;
    background-color: #1e2d3b;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.select-genre {
    padding: 1rem 0.75rem;
    margin-bottom: 2rem;
    width: calc(100% / 5);
    background-color: #1bd760;
    font-weight: bold;
    font-size: 1.2rem;
}

.card {
    margin-bottom: 2rem;
    background-color: #2d3a46;
    color: white;
    text-align: center;
    font-size: .9rem;
}

.card img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
}